<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Editar Curso</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/edit.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  </head>
  <body>
    <h1>Editar Curso</h1>
    <form method="POST" action="/cursos/<%= curso.curso_id %>">
      <input type="text" name="title" value="<%= curso.title %>" required />
      <textarea name="description" required><%= curso.description %></textarea>
      <input
        type="text"
        name="professor"
        value="<%= curso.professor %>"
        required
      />
      <input
        type="number"
        name="duration"
        value="<%= curso.duration %>"
        required
      />
      <button type="submit">Salvar</button>
    </form>
  </body>
</html>
